<form method="post" action="{{ path('app_laman_delete', {'id': laman.id}) }}" id="formDelete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ laman.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Delete</button>
</form>
