{% extends 'base.html.twig' %}

{% block title %}
{{ laman.name }}
{% endblock %}

{% block meta %}
<meta name="description" content="{{ laman.name }}">
{% endblock %}

{% block stylesheets %}
    <style>
        .code-container { background-color: #eaeaea; padding: 20px; border-radius: 8px; margin: 10px 0; } .code-container pre { background-color: #333; color: #f4f4f9; padding: 15px; border-radius: 8px; overflow-x: auto; } .code-container pre code { font-family: Consolas, 'Courier New', monospace; }
    </style>
{% endblock %}

{% block body %}
<section id="hero">
    <h2>{{ laman.name }}</h2>
</section>

<section id="content">
    <div class="content">
        <div class="blog">
            <div class="blog-detail">                
                {{ laman.content|raw }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVF8EJ4Q68"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-BVF8EJ4Q68');
    </script>
{% endblock %}