<form method="post" action="{{ path('app_file_delete', {'id': file.id}) }}" id="formDelete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Delete</button>
</form>
