<form method="post" action="{{ path('app_categories_delete', {'id': categories.id}) }}" id="formDelete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Delete</button>
</form>
